@font-face {
  font-family: "Champagne";
  src: url("../assets/ChampagneAndLimousines-7KRB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alta Regular";
  src: url("../assets/alata-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Alta Regular", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

.headerContainer {
  width: 100%;
  height: 44px;
  background-color: black;
}
.headerContainer .h1HeaderContainer {
  height: 100%;
}
.headerContainer .h1HeaderContainer .headerH1 {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Champagne", sans-serif;
  padding: 0;
  color: white;
}
.headerContainer .h1HeaderContainer .headerH1 .secondSpan {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.headerContainer .navHeaderContent .add-header-img {
  border-radius: 100%;
  background-color: white;
  animation: beating 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.headerContainer .navHeaderContent .add-header-img:hover {
  background-color: #ED2C59;
  animation: trembling ease-in-out 400ms infinite;
  cursor: pointer;
  transform: scale(1.3);
}

.mainTag {
  width: 100%;
  height: calc(100% - 88px);
}
.mainTag .menuAside {
  height: 100%;
  padding-top: 2.5%;
}
.mainTag .menuAside .projectActivity {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 24px;
}
.mainTag .menuAside .projectActivity .add-img {
  margin-left: 10px;
  border-radius: 100%;
  background-color: white;
  background-color: transparent;
}
.mainTag .menuAside .projectActivity .add-img:hover {
  background-color: #ED2C59;
  animation: trembling ease-in-out 400ms infinite;
  cursor: pointer;
  transform: scale(1.3);
  background-color: rgba(255, 201, 85, 0.9);
}
.mainTag .menuAside .favoriteProjectsH2,
.mainTag .menuAside .listProjectsH2 {
  color: black;
  font-family: "Alta Regular", sans-serif;
  font-size: 0.95rem;
}
.mainTag .menuAside .projectsContainer {
  list-style: none;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer,
.mainTag .menuAside .projectsContainer .projectItemContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  margin: 1% 0;
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectFavItem,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectFavItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 75%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1% 3%;
  color: #2a2a2a;
  font-family: "Alta Regular", sans-serif;
  font-size: 0.79rem;
  transition: width 0.5s;
  border-bottom: 1px solid rgba(61, 7, 122, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectFavItem::after,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectFavItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  border-radius: 5px 0 0 5px;
  height: calc(100% + 1px);
  background-color: rgba(61, 7, 122, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectItem,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 75%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1% 3%;
  color: #2a2a2a;
  font-family: "Alta Regular", sans-serif;
  font-size: 0.79rem;
  transition: width 0.5s;
  border-bottom: 1px solid rgba(166, 23, 178, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectItem::after,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  border-radius: 5px 0 0 5px;
  height: calc(100% + 1px);
  background-color: rgba(166, 23, 178, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectFavItem:hover,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectFavItem:hover {
  width: 87%;
  cursor: pointer;
  border-bottom: 1px solid rgba(13, 239, 239, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectFavItem:hover::after,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectFavItem:hover::after {
  background-color: rgba(13, 239, 239, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectItem:hover,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectItem:hover {
  width: 87%;
  cursor: pointer;
  border-bottom: 1px solid rgba(13, 239, 239, 0.9);
}
.mainTag .menuAside .projectsContainer .projectFavItemContainer div.projectItem:hover::after,
.mainTag .menuAside .projectsContainer .projectItemContainer div.projectItem:hover::after {
  background-color: rgba(13, 239, 239, 0.9);
}
.mainTag .todoItemSection {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 2.5%;
  height: 100%;
  background-color: white;
}

.footerTag {
  width: 100%;
  height: 44px;
}
.footerTag .footerAside {
  height: 100%;
}

@keyframes trembling {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }
  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}
@keyframes beating {
  0% {
    transform: scale(0.6);
  }
  50%, 100% {
    transform: scale(1);
  }
}
.add-img, .add-img2 {
  margin-left: 10px;
  height: 25px;
  border-radius: 100%;
  background-color: white;
  background-color: transparent;
}
.add-img:hover, .add-img2:hover {
  background-color: #ED2C59;
  animation: trembling ease-in-out 400ms infinite;
  cursor: pointer;
  transform: scale(1.3);
  background-color: rgba(255, 201, 85, 0.9);
}

.add-img2:hover {
  background-color: white;
}

.marg {
  margin-right: 10px;
}

.deleteimg,
.deleteimgT {
  height: 20px;
  margin-left: 10px;
  margin-right: 4px;
}

.deleteimgT {
  margin-top: -5px;
}

#openEditProject,
.add-img2 {
  height: 17px;
}

.details {
  font-size: 13px;
}

.float-bt {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.clickBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.hidden {
  display: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 350px;
  z-index: 9;
}

.createTask {
  height: 320px;
}

input, label, select {
  font-size: 13px;
  line-height: 25px;
  border-radius: 5px;
}

input, select, textarea {
  border: 1px solid #cccccc;
  font-family: "Alta Regular", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
  border: 1px solid #dfdfdf;
}

select {
  height: 25px;
  width: 100px;
}

textarea {
  font-size: 13px;
  width: 309px;
  height: 100px;
  padding: 10px;
}

input {
  width: 200px;
  text-align: center;
}

label {
  width: 70px;
}

.selectedItem {
  width: 87% !important;
  border-bottom-color: rgba(255, 201, 85, 0.9) !important;
}
.selectedItem::after {
  background-color: rgba(255, 201, 85, 0.9) !important;
}

/*# sourceMappingURL=main.css.map */
