@font-face {
  font-family: 'Champagne';
  src: url('../src/assets/ChampagneAndLimousines-7KRB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alta Regular';
  src: url('../src/assets/alata-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@mixin addImageStyle {
  border-radius: 100%;
  background-color: white;
}

@mixin animationAddHovering {
  background-color: #ED2C59;
  animation: trembling ease-in-out 400ms infinite;
  cursor: pointer;
  transform: scale(1.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  /*
    background-color: #ABCCE9;
  background-color: rgba(212, 302, 329, 1);
  background-color: rgb(132, 108, 152);
  background-color: rgb(132, 208, 152);
  */
}

.headerContainer {
  width: 100%;
  height: 44px;
  background-color: black;
  .h1HeaderContainer {
    height: 100%;
    .headerH1 {
      margin: 0;
      font-size: 1.6rem;
      font-family: 'Champagne', sans-serif;
      padding: 0;
      color: white;
      .secondSpan {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
  }
  .navHeaderContent {
    .add-header-img {
      @include addImageStyle;
      animation: beating 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
      &:hover {
        @include animationAddHovering;
      }
    }
  }
}

.mainTag {
  width: 100%;
  height: calc(100% - 88px);

}

.footerTag {
  width: 100%;
  height: 44px;
  .footerAside {
    height: 100%;
  }
}

@keyframes trembling {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }

  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}

@keyframes beating {
  0% {
    transform: scale(0.6);
  }
  50%,
  100% {
    transform: scale(1);
  }
}
