@font-face {
  font-family: 'Champagne';
  src: url('../src/assets/ChampagneAndLimousines-7KRB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alta Regular';
  src: url('../src/assets/alata-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin projectItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 75%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.8);
  padding: 1% 3%;
  color: #2a2a2a;
  font-family: 'Alta Regular', sans-serif;
  font-size: 0.79rem;
  transition: width 0.5s;
}

@mixin projectItemHover {
  width: 87%;
  cursor: pointer;
}

@mixin projectItemAfter {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  border-radius: 5px 0 0 5px;
  height: calc(100% + 1px);
}

@mixin projectContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  margin: 1% 0;
}

@mixin addImageStyle {
  border-radius: 100%;
  background-color: white;
}

@mixin animationAddHovering {
  background-color: #ED2C59;
  animation: trembling ease-in-out 400ms infinite;
  cursor: pointer;
  transform: scale(1.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, label, select{
  font-size: 13px;
  line-height: 25px;
  border-radius: 5px;
}

input, select, textarea{
  border:1px solid #cccccc
}

select {
  font-family: 'Alta Regular', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
  border: 1px solid #dfdfdf;
}

select{
  height: 25px;
  width: 100px;
}

textarea{
  font-size: 13px;
  width: 309px;
  height: 100px;
  padding: 10px;
}

input{
  width: 200px;
  text-align: center;
}

label{
  width: 70px;
}

body,
html {
  font-family: 'Alta Regular', sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
}

.headerContainer {
  width: 100%;
  height: 44px;
  background-color: black;
  .h1HeaderContainer {
    height: 100%;
    .headerH1 {
      margin: 0;
      font-size: 1.6rem;
      font-family: 'Champagne', sans-serif;
      padding: 0;
      color: white;
      .secondSpan {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
  }
  .navHeaderContent {
    .add-header-img {
      @include addImageStyle;
      animation: beating 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
      &:hover {
        @include animationAddHovering;
      }
    }
  }
}

.mainTag {
  width: 100%;
  height: calc(100% - 88px);
  .menuAside {
    height: 100%;
    padding-top: 2.5%;
    .projectActivity {
      margin-top: 5px;
      margin-bottom: 10px;
      width: 100%;
      height: 24px;
      .add-img {
        margin-left: 10px;
        @include addImageStyle;
        background-color: transparent;
        &:hover {
          @include animationAddHovering;
          background-color: rgba(255, 201, 85, 0.9);
        }
      }
    }
    .favoriteProjectsH2,
    .listProjectsH2 {
      color: black;
      font-family: 'Alta Regular', sans-serif;
      font-size: 0.95rem;
    }
    .projectsContainer {
      list-style: none;
      width: 100%;
      overflow-x: hidden; //horizontal
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .projectFavItemContainer,
      .projectItemContainer {
        @include projectContainer;
        div.projectFavItem {
          @include projectItem;
          border-bottom: 1px solid rgba(61,7,122,0.9);
          &::after {
            @include projectItemAfter;
            background-color: rgba(61,7,122,0.9);
          }
        }
        div.projectItem {
          @include projectItem;
          border-bottom: 1px solid rgba(166, 23, 178, 0.9);
          &::after {
            @include projectItemAfter;
            background-color: rgba(166, 23, 178, 0.9);
          }
        }
        div.projectFavItem:hover {
          @include projectItemHover;
          border-bottom: 1px solid rgba(13, 239, 239, 0.9);
          &::after {
            background-color: rgba(13, 239, 239, 0.9);
          }
        }
        div.projectItem:hover {
          @include projectItemHover;
          border-bottom: 1px solid rgba(255, 201, 85, 0.9);
          &::after {
            background-color: rgba(255, 201, 85, 0.9);
          }
        }
      }
    }
  }
  .todoItemSection {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2.5%;
    height: 100%;
    background-color: white;
  }
}

.footerTag {
  width: 100%;
  height: 44px;
  .footerAside {
    height: 100%;
  }
}

@keyframes trembling {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }

  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}

@keyframes beating {
  0% {
    transform: scale(0.6);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

.add-img, .add-img2 {
  margin-left: 10px;
  height: 25px;
  @include addImageStyle;
  background-color: transparent;
  &:hover {
    @include animationAddHovering;
    background-color: rgba(255, 201, 85, 0.9);
  }
}

.add-img2 {
  &:hover {
    background-color: white;
  }
}

.deleteimg, .deleteimgT {
  height: 20px;
  margin-left: 10px;
  margin-right: 4px;
}

.deleteimgT {
  margin-top: -5px;
}

.details{
  font-size: 13px;
}

.float-bt{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.clickBlock{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.hidden{
  display: none;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 350px;
  z-index: 9;
}

.createTask{
  height: 320px;
}

